body {
    font-family: 'IBM Plex Sans';
    background-color: #000000;
}
h1,h4,p,a {
    color: aliceblue;
}
a {
    text-decoration: none;
}
.shapka {
    text-align: justify;
    margin: 25vh auto;
    width: fit-content;
}
.switcher:hover {
    color: red;
}
.switcher:active {
    color: brown;
}
.credit {
    display: flex;
    flex-direction: row-reverse;
}
.credit a:visited {
    color: aliceblue;
}
.credit a:hover {
    color:red;
}
.credit a:active {
    color: brown;
}
.stats {
    margin: 0 auto;
    width: fit-content;
    padding: 5px 0;
}
.input_style {
    background-color: black;
    border:none;
    caret-color: blue;
    color: cadetblue;
}
.button {
    display: flex;
    justify-content:center;
}
.button_style {
    width: 6vw;
    background-color: black;
    border: 1px solid darkgray;
    color: darkgray;
}
.button_style:hover {
    box-shadow: 0px 0px 20px 0px rgba(255,255,255,1);
    transition: 1s;
}
.ijz {
    color: burlywood;
}
.ijz:hover {
    color: red;
}
.ijz:active {
    color: brown;
}

#date {
    /* color: chartreuse; */
    color: aqua;
}
#bad {
    display: none;
}
#good {
    display: none;
}
#newInfected {
    color: yellow;
}
#newRecovered {
    color: lime;
}
#newDead {
    color: darkred;
}
#estInfected {
    color: yellow;
}
#estDead {
    color:darkred;
}
#estRecov {
    color: lime;
}